@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  .light {
    --background: 0 0% 100%;
    --secondary: 0 0% 0%;
    --foreground: 210 20% 98%;
    --card: 0 0% 97.3%;
    --card-foreground: 0 0% 77.6%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 0 0% 100%;
    --primary-foreground: 215 27.9% 16.9%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --skeleton: 0 0% 77.6%;
    --skeleton-foreground: 0, 0%, 33.3%;
    --primary-t: 0 0% 0%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 7.1%;
    --secondary: 0 0% 98%;
    --foreground: 215 27.9% 16.9%;
    --card: 0 0% 3.1%;
    --card-foreground: 0 0% 3.9%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary:  0 0% 7.1%;
    --primary-foreground: 72 100% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --skeleton: 0 0% 3.9%;
    --skeleton-foreground: 215 27.9% 16.9%;
    --primary-t: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
  }
  .blue {
    --background: 229.1 39.3% 11%;
    --secondary: 0 0% 98%;
    --foreground: 215 27.9% 12%;
    --card: 222.4 40.6% 19.8%;
    --card-foreground: 222.4 32.3% 24.9%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 229.1 39.3% 11%;
    --primary-foreground: 229.1, 17.5%, 37.1%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --skeleton: 222.4 32.3% 24.9%;
    --skeleton-foreground: 222.4 20.6% 39%;
    --primary-t: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
  }
  .custom {
    --background: inherit;
    --secondary: inherit;
    --foreground: inherit;
    --card: inherit;
    --card-foreground: inherit;
    --primary: inherit;
    --primary-foreground: inherit;
    --secondary: inherit;
    --secondary-foreground: inherit;
    --muted: inherit;
    --muted-foreground: inherit;
    --accent: inherit;
    --accent-foreground:inherit;
    --destructive: inherit;
    --destructive-foreground:inherit;
    --skeleton: inherit;
    --skeleton-foreground: inherit;
    --primary-t:inherit;
    --border: inherit;
    --input: inherit;
    --ring: inherit;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.relative {
  position: relative !important;
}

.z-100 {
  z-index: 100 !important;
}
